.App {
  width: 30%;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.glyphicon-plus {
  margin-left: 5px;
}

.TodoList {
  margin-top: 5px
}

.btn-secondary:hover{
  color: #fff;
  background-color: #f00;
}